---
import BaseHead from '../../components/BaseHead.astro';
import '../../styles/grub.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<!--<link rel="stylesheet" href="/styles/global.css" />-->
	</head>
	<body>
		<p class="title">GNU fubuki 2.22</p>

		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.id}/`}>
							<span class="bullet">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="15 0 80 100" style="vertical-align: -0.18em;">
										<path d="M55 15 L55 85 M30 32 L80 68 M30 68 L80 32" stroke="currentColor" stroke-width="8" stroke-linecap="square" fill="none"/>
								</svg>
							</span><span class="entryText">{post.data.title}
							({
								post.data.pubDate.toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})
							})
						</span>
						</a>
					</li>
				))
			}
		</ul>

		<p class="description">
			Welcome to my blog! I'm a CS student from Waterloo, Canada. I build things in mostly kotlin/typescript/rust am always experimenting with new things that catch my interest.
			<br><br>
			If you are interested in checking out my projects, here is my <a href="https://github.com/fubuki4649" target="_blank">github</a> and <a href="https://x.com/fubukidev" target="_blank">x</a>
		</p>

	</body>
</html>
